In [1]:
import numpy as np
from StringIO import StringIO
import pandas as pd
from __future__ import division
import matplotlib.pyplot as plt
import urllib2,base64
import cPickle as pickle
from collections import Counter
from collections import defaultdict
from collections import OrderedDict
from __future__ import division
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from matplotlib.dates import MonthLocator, WeekdayLocator, DateFormatter,DayLocator
from matplotlib.font_manager import FontProperties

import scipy as sp
import gdal,ogr
from gdalconst import * 
import datetime
import math
import operator
import re
import os
import os.path
import requests, time
import urllib, json
import csv
import seaborn as sns

from sklearn import neighbors, datasets,linear_model,preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import RadiusNeighborsRegressor
from sklearn.neighbors import LocalOutlierFactor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor,ExtraTreesRegressor
from sklearn.model_selection import cross_val_score
from sklearn.cross_validation import LeavePLabelOut
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics import r2_score
from sklearn.preprocessing import minmax_scale
from sklearn import decomposition
from sklearn.preprocessing import normalize
from sklearn.preprocessing import scale
from sklearn.preprocessing import LabelEncoder
from pylab import *
from scipy import stats
from sklearn.neighbors import DistanceMetric
from urllib2 import urlopen, Request
from pprint import pprint

from scipy.spatial import KDTree
from numpy import linalg as LA
from calendar import monthrange
from sklearn import metrics
import tarfile

import geopandas as gp
from shapely.geometry import Point

from dask import dataframe as dd 
import dask
import glob
import netCDF4
from netCDF4 import Dataset

import fiona
%matplotlib inline

/home/s132732/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
ill_df=pd.read_csv('data/US_2015_integrated.csv',encoding='utf-8') 
YEAR=2015
#ill_df['timestamp']=pd.to_datetime(ill_df['timestamp'], errors='coerce')
#ill_df.sort_values(['timestamp' , 'LAT', 'LON'], ascending=[True, True, True], inplace=True)

In [3]:
ill_df.head()

,Unnamed: 0,count,LAT,length_daily,LON,timestamp,txt,URBAN,TMAX,TMIN,PRCP,HUM,CC,WIND,POP,month,length_monthly,length_norm
0,0,1,25.486813,19,-80.481691,2015-01-01,"[@peeznuts, cop-, license, and, registration, ...",True,28.379999,19.469999,0.00,86.0,49.5,2.552901,1164.2115,1,9.961846,1.907277
1,1,1,25.672703,7,-80.419119,2015-01-01,"[@gabssgonzalezz, @nspizale41, gaby, chill, wi...",True,27.700001,19.450001,0.00,86.0,49.5,2.552901,4298.7750,1,9.961846,0.702681
2,2,1,25.728139,14,-80.242204,2015-01-01,"[#happynewyear, #nana, #2015, i, love, my, nan...",True,26.959999,20.780001,0.42,86.0,49.5,2.552901,3364.1077,1,9.961846,1.405362
3,3,1,25.749842,13,-80.396288,2015-01-01,"[if, i, send, you, a, snapchat, i, did, to, ev...",True,27.290001,19.930000,0.37,86.0,49.5,2.552901,3354.3132,1,9.961846,1.304979
4,4,1,25.753495,10,-80.324779,2015-01-01,"[@stefanyamaro, @kaytlinmariex3, just, sayin, ...",True,27.120001,20.440001,0.13,86.0,49.5,2.552901,3169.7585,1,9.961846,1.003830

In [4]:
poly  = gp.GeoDataFrame.from_file("data/UScounties/UScounties.shp")
poly

,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,geometry
0,Lake of the Woods,Minnesota,27,077,27077,"POLYGON ((-95.34283127277658 48.546679319076, ..."
1,Ferry,Washington,53,019,53019,POLYGON ((-118.8516288013387 47.94956368481996...
2,Stevens,Washington,53,065,53065,"POLYGON ((-117.438831576286 48.04411548512263,..."
3,Okanogan,Washington,53,047,53047,"POLYGON ((-118.972093862835 47.93915200536639,..."
4,Pend Oreille,Washington,53,051,53051,POLYGON ((-117.4385804303028 48.99991850672649...
5,Boundary,Idaho,16,021,16021,POLYGON ((-117.0291117188672 48.83807527955628...
6,Lincoln,Montana,30,053,30053,POLYGON ((-116.0554974842291 48.20848379658699...
7,Flathead,Montana,30,029,30029,POLYGON ((-113.4736300572054 47.59757632110833...
8,Glacier,Montana,30,035,30035,POLYGON ((-112.1827335389939 48.47116514063714...
9,Toole,Montana,30,101,30101,POLYGON ((-111.4223100737647 48.21776252169813...
10,Liberty,Montana,30,051,30051,"POLYGON ((-111.4207348165336 48.127215536272, ..."
11,Hill,Montana,30,041,30041,POLYGON ((-109.5402735690499 48.13248716712887...
12,Sheridan,Montana,30,091,30091,POLYGON ((-104.0521114628981 48.39101937024861...
13,Divide,North Dakota,38,023,38023,POLYGON ((-102.8850177922477 48.63678161862762...
14,Burke,North Dakota,38,013,38013,"POLYGON ((-102.234169091541 48.54927749886978,..."
15,Renville,North Dakota,38,075,38075,POLYGON ((-101.0613064194511 48.46031483638167...
16,Bottineau,North Dakota,38,009,38009,POLYGON ((-101.0615816025086 48.54390008416439...
17,Rolette,North Dakota,38,079,38079,POLYGON ((-100.1480568935678 48.54298848848246...
18,Towner,North Dakota,38,095,38095,POLYGON ((-99.49337262178142 48.37468638547963...
19,Cavalier,North Dakota,38,019,38019,POLYGON ((-97.92655188570299 48.54652960540204...
20,Pembina,North Dakota,38,067,38067,POLYGON ((-97.16043567458043 48.54507790080497...
21,Kittson,Minnesota,27,069,27069,POLYGON ((-97.16043567458043 48.54507790080497...
22,Roseau,Minnesota,27,135,27135,POLYGON ((-96.39247736361961 48.54750657778172...
23,Blaine,Montana,30,005,30005,"POLYGON ((-109.544327649568 47.74525228318215,..."
24,Phillips,Montana,30,071,30071,POLYGON ((-107.9156391105305 47.45681158773948...
25,Valley,Montana,30,105,30105,POLYGON ((-107.4276863468794 47.69576616368835...
26,Daniels,Montana,30,019,30019,POLYGON ((-105.8144214763068 48.57037111945066...
27,Whatcom,Washington,53,073,53073,POLYGON ((-120.8570594715475 48.99983064707561...
28,Bonner,Idaho,16,017,16017,POLYGON ((-117.0388684398502 48.04618598897073...
29,Ward,North Dakota,38,101,38101,POLYGON ((-100.9647056657808 47.85409179297289...
...,...,...,...,...,...,...
3111,Matanuska-Susitna,Alaska,02,170,02170,"POLYGON ((-152.99922054621 62.32809523777795, ..."
3112,Wade Hampton,Alaska,02,270,02270,POLYGON ((-165.1105650460331 60.92255695014286...
3113,Bethel,Alaska,02,050,02050,"(POLYGON ((-172.28264252715 60.30175966910389,..."
3114,Anchorage,Alaska,02,020,02020,POLYGON ((-148.4600050934349 61.42697143160098...
3115,Kenai Peninsula,Alaska,02,122,02122,(POLYGON ((-154.7487593097769 59.2374266150408...
3116,Dillingham,Alaska,02,070,02070,POLYGON ((-160.4706369975655 59.33537137271031...
3117,Lake and Peninsula,Alaska,02,164,02164,POLYGON ((-158.7984079404443 56.80097193521615...
3118,Haines,Alaska,02,100,02100,(POLYGON ((-136.4876414548827 59.2651414135099...
3119,Juneau,Alaska,02,110,02110,(POLYGON ((-133.1710484226275 58.1564024548842...
3120,Kodiak Island,Alaska,02,150,02150,(POLYGON ((-154.305931853384 58.64682466529116...
3121,Sitka,Alaska,02,220,02220,(POLYGON ((-136.0330786222206 57.8429310318636...
3122,Wrangell-Petersburg,Alaska,02,280,02280,(POLYGON ((-131.0746139589728 56.4049738281546...
3123,Ketchikan Gateway,Alaska,02,130,02130,(POLYGON ((-131.6063909714318 55.3196460474220...
3124,Prince of Wales-Outer Ketchikan,Alaska,02,201,02201,(POLYGON ((-130.176414646234 55.75409456306473...
3125,Aleutians East,Alaska,02,013,02013,(POLYGON ((-158.7984079404443 56.8009719352161...
3126,Aleutians West,Alaska,02,016,02016,(POLYGON ((-166.6452193589258 53.5227419181276...
3127,Kalawao,Hawaii,15,005,15005,POLYGON ((-156.9102144220346 21.15804519518678...
3128,Kauai,Hawaii,15,007,15007,(POLYGON ((-159.3351747179816 21.9483433247010...
3129,Honolulu,Hawaii,15,003,15003,POLYGON ((-157.6733298841729 21.29802716951978...
3130,Maui,Hawaii,15,009,15009,(POLYGON ((-156.1960454367113 20.6316494309320...
3131,Hawaii,Hawaii,15,001,15001,POLYGON ((-155.6661923226688 18.92178634508703...
3132,Pittsylvania,Virginia,51,143,51143,POLYGON ((-79.71720165200327 36.54802787612505...
3133,Danville,Virginia,51,590,51590,POLYGON ((-79.51976749562056 36.59777027020193...
3134,Valdez-Cordova,Alaska,02,261,02261,(POLYGON ((-148.7460389214014 60.8461440752278...
3135,Yakutat,Alaska,02,282,02282,POLYGON ((-142.1948452340692 60.02708636337723...
3136,Skagway-Hoonah-Angoon,Alaska,02,232,02232,(POLYGON ((-137.8095211920192 58.7164813609912...
3137,Yukon-Koyukuk,Alaska,02,290,02290,POLYGON ((-161.0477021891828 62.20469454497495...
3138,Southeast Fairbanks,Alaska,02,240,02240,POLYGON ((-146.9638194241452 63.46070394365374...
3139,Denali,Alaska,02,068,02068,POLYGON ((-152.9894742378389 62.74899735973684...
3140,Broomfield,Colorado,08,014,08014,"POLYGON ((-105.052005575917 39.9976080422886, ..."

In [5]:
centroidseries = poly['geometry'].centroid
centroids_df=pd.DataFrame({'FIPS': poly['FIPS'], 'CENTROID': centroidseries})
centroids_df.head()

                                       CENTROID   FIPS
0    POINT (-94.90359451079368 48.771708924392)  27077
1  POINT (-118.5183032788082 48.46948437572507)  53019
2  POINT (-117.8564115791511 48.39580864680615)  53065
3  POINT (-119.7406103214426 48.54830685737878)  53047
4  POINT (-117.2750688149767 48.53270730712843)  53051

In [6]:
all_points=[Point(lon,lat) for lon, lat in zip(ill_df.LON,ill_df.LAT)]

In [9]:
##### ADD SENTIMENTIAL PIECES INTO DATAFRAME ##################################
listing = glob.glob(os.path.join('./', '2015_*.out'))
#files=sorted(listing, key=lambda name: int(name.split('_')[1]))
df_from_each_file = (pd.read_csv(f,
                 sep=",", #or delim_whitespace=True, #separator is whitespace
                 header=None, #no header
                 names=['JOY','FEAR','ANGER','SADNESS','DISGUST','SHAME','GUILT'] #set columns names joy, fear, anger, sadness, disgust, shame, guilt
                 )  for f in listing)
emoji_df   = pd.concat(df_from_each_file, ignore_index=True)
ill_df = pd.concat([ill_df, emoji_df],axis=1)
ill_df.head()

,Unnamed: 0,count,LAT,length_daily,LON,timestamp,txt,URBAN,TMAX,TMIN,...,month,length_monthly,length_norm,JOY,FEAR,ANGER,SADNESS,DISGUST,SHAME,GUILT
0,0,1,25.486813,19,-80.481691,2015-01-01,"[@peeznuts, cop-, license, and, registration, ...",True,28.379999,19.469999,...,1,9.961846,1.907277,0.089687,0.163687,0.262556,0.054682,0.112624,0.156748,0.160015
1,1,1,25.672703,7,-80.419119,2015-01-01,"[@gabssgonzalezz, @nspizale41, gaby, chill, wi...",True,27.700001,19.450001,...,1,9.961846,0.702681,0.100029,0.097410,0.222943,0.066086,0.196843,0.182865,0.133824
2,2,1,25.728139,14,-80.242204,2015-01-01,"[#happynewyear, #nana, #2015, i, love, my, nan...",True,26.959999,20.780001,...,1,9.961846,1.405362,0.531068,0.121486,0.070829,0.081401,0.066226,0.060988,0.068002
3,3,1,25.749842,13,-80.396288,2015-01-01,"[if, i, send, you, a, snapchat, i, did, to, ev...",True,27.290001,19.930000,...,1,9.961846,1.304979,0.049507,0.106459,0.049856,0.016562,0.038345,0.553312,0.185959
4,4,1,25.753495,10,-80.324779,2015-01-01,"[@stefanyamaro, @kaytlinmariex3, just, sayin, ...",True,27.120001,20.440001,...,1,9.961846,1.003830,0.309587,0.068134,0.119389,0.039704,0.158637,0.200502,0.104046

In [10]:
ill_gdf = gp.GeoDataFrame(ill_df, geometry=all_points)
ill_gdf.crs = {'init' :'epsg:4326'}
ill_gdf.head()

,Unnamed: 0,count,LAT,length_daily,LON,timestamp,txt,URBAN,TMAX,TMIN,...,length_monthly,length_norm,JOY,FEAR,ANGER,SADNESS,DISGUST,SHAME,GUILT,geometry
0,0,1,25.486813,19,-80.481691,2015-01-01,"[@peeznuts, cop-, license, and, registration, ...",True,28.379999,19.469999,...,9.961846,1.907277,0.089687,0.163687,0.262556,0.054682,0.112624,0.156748,0.160015,POINT (-80.481691 25.486813)
1,1,1,25.672703,7,-80.419119,2015-01-01,"[@gabssgonzalezz, @nspizale41, gaby, chill, wi...",True,27.700001,19.450001,...,9.961846,0.702681,0.100029,0.097410,0.222943,0.066086,0.196843,0.182865,0.133824,POINT (-80.41911899999999 25.672703)
2,2,1,25.728139,14,-80.242204,2015-01-01,"[#happynewyear, #nana, #2015, i, love, my, nan...",True,26.959999,20.780001,...,9.961846,1.405362,0.531068,0.121486,0.070829,0.081401,0.066226,0.060988,0.068002,POINT (-80.242204 25.728139)
3,3,1,25.749842,13,-80.396288,2015-01-01,"[if, i, send, you, a, snapchat, i, did, to, ev...",True,27.290001,19.930000,...,9.961846,1.304979,0.049507,0.106459,0.049856,0.016562,0.038345,0.553312,0.185959,POINT (-80.396288 25.749842)
4,4,1,25.753495,10,-80.324779,2015-01-01,"[@stefanyamaro, @kaytlinmariex3, just, sayin, ...",True,27.120001,20.440001,...,9.961846,1.003830,0.309587,0.068134,0.119389,0.039704,0.158637,0.200502,0.104046,POINT (-80.32477900000001 25.753495)

In [11]:
obser_and_county = gp.sjoin(ill_gdf, poly, op='within')
obser_and_county.head()

,Unnamed: 0,count,LAT,length_daily,LON,timestamp,txt,URBAN,TMAX,TMIN,...,DISGUST,SHAME,GUILT,geometry,index_right,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS
0,0,1,25.486813,19,-80.481691,2015-01-01,"[@peeznuts, cop-, license, and, registration, ...",True,28.379999,19.469999,...,0.112624,0.156748,0.160015,POINT (-80.481691 25.486813),2922,Miami-Dade,Florida,12,086,12086
1,1,1,25.672703,7,-80.419119,2015-01-01,"[@gabssgonzalezz, @nspizale41, gaby, chill, wi...",True,27.700001,19.450001,...,0.196843,0.182865,0.133824,POINT (-80.41911899999999 25.672703),2922,Miami-Dade,Florida,12,086,12086
2,2,1,25.728139,14,-80.242204,2015-01-01,"[#happynewyear, #nana, #2015, i, love, my, nan...",True,26.959999,20.780001,...,0.066226,0.060988,0.068002,POINT (-80.242204 25.728139),2922,Miami-Dade,Florida,12,086,12086
3,3,1,25.749842,13,-80.396288,2015-01-01,"[if, i, send, you, a, snapchat, i, did, to, ev...",True,27.290001,19.930000,...,0.038345,0.553312,0.185959,POINT (-80.396288 25.749842),2922,Miami-Dade,Florida,12,086,12086
4,4,1,25.753495,10,-80.324779,2015-01-01,"[@stefanyamaro, @kaytlinmariex3, just, sayin, ...",True,27.120001,20.440001,...,0.158637,0.200502,0.104046,POINT (-80.32477900000001 25.753495),2922,Miami-Dade,Florida,12,086,12086

In [12]:
obser_and_county.dropna(axis=0, how='any',inplace=True)
county_urban_df=obser_and_county[obser_and_county['URBAN']==True]
county_rural_df=obser_and_county[obser_and_county['URBAN']==False]

In [13]:
county_urban_monthlygrouped_df=county_urban_df.groupby([county_urban_df.month,county_urban_df.FIPS])['count'].sum().to_frame().reset_index()
county_rural_monthlygrouped_df=county_rural_df.groupby([county_rural_df.month,county_rural_df.FIPS])['count'].sum().to_frame().reset_index()

county_urban_monthlygrouped_df=county_urban_monthlygrouped_df.rename(index=str, columns={"count": "monthly_cell_count_urban"})
county_rural_monthlygrouped_df=county_rural_monthlygrouped_df.rename(index=str, columns={"count": "monthly_cell_count_rural"})

county_urban_monthlygrouped_df['monthly_cell_daily_count'] = county_urban_monthlygrouped_df.apply(lambda row: row['monthly_cell_count_urban'] / monthrange(YEAR,int(row.month))[1], axis=1)
county_rural_monthlygrouped_df['monthly_cell_daily_count'] = county_rural_monthlygrouped_df.apply(lambda row: row['monthly_cell_count_rural'] / monthrange(YEAR,int(row.month))[1], axis=1)

county_merge_monthlygrouped_df=pd.merge(county_urban_monthlygrouped_df, county_rural_monthlygrouped_df, how='outer', on=['month','FIPS'], sort=True,
         suffixes=('_urban', '_rural'))

county_merge_monthlygrouped_df.fillna(0).head() ##MONTHLY DAILY CELL COUNT

,month,FIPS,monthly_cell_count_urban,monthly_cell_daily_count_urban,monthly_cell_count_rural,monthly_cell_daily_count_rural
0,1,01001,722.0,23.290323,278.0,8.967742
1,1,01003,1201.0,38.741935,509.0,16.419355
2,1,01005,96.0,3.096774,33.0,1.064516
3,1,01007,59.0,1.903226,41.0,1.322581
4,1,01009,96.0,3.096774,190.0,6.129032

In [14]:
county_urban_dailygrouped_df=county_urban_df.groupby([county_urban_df.timestamp,county_urban_df.FIPS]).agg({'count':'sum','TMAX':'mean','TMIN':'mean','PRCP':'mean','HUM':'mean','CC':'mean','WIND':'mean','month':'first','JOY':'mean','FEAR':'mean','ANGER':'mean','SADNESS':'mean','DISGUST':'mean','SHAME':'mean','GUILT':'mean'}).reset_index()
county_rural_dailygrouped_df=county_rural_df.groupby([county_rural_df.timestamp,county_rural_df.FIPS]).agg({'count':'sum','TMAX':'mean','TMIN':'mean','PRCP':'mean','HUM':'mean','CC':'mean','WIND':'mean','month':'first','JOY':'mean','FEAR':'mean','ANGER':'mean','SADNESS':'mean','DISGUST':'mean','SHAME':'mean','GUILT':'mean'}).reset_index()
#ill_rural_dailygrouped_df=ill_rural_df.groupby([ill_rural_df.timestamp,ill_rural_df.LAT_cut,ill_rural_df.LON_cut])['count_daily'].sum().to_frame().reset_index()

county_merge_dailygrouped_df=pd.merge(county_urban_dailygrouped_df, county_rural_dailygrouped_df, how='outer', on=['timestamp','FIPS','month'], sort=True, suffixes=('_urban', '_rural'))

county_merge_daily_df=pd.merge(county_merge_dailygrouped_df,county_merge_monthlygrouped_df, how="left", on=['FIPS','month'])

county_merge_daily_df=county_merge_daily_df

#f, ax = plt.subplots(1, 1, sharey=True)
#f.set_size_inches(18.5, 10.5, forward=True)

#test=ill_merge_daily_df[ill_merge_daily_df['timestamp']=='2016-02-21']
#plt.scatter(test['LON_cut'], test['LAT_cut'], s=700, c=test['PRCP_rural'], cmap="Reds", alpha=0.5,edgecolors=None,linewidths=0)
county_merge_daily_df.head()

,timestamp,FIPS,TMIN_urban,CC_urban,month,SADNESS_urban,GUILT_urban,DISGUST_urban,FEAR_urban,count_urban,...,TMAX_rural,SHAME_rural,HUM_rural,ANGER_rural,PRCP_rural,WIND_rural,monthly_cell_count_urban,monthly_cell_daily_count_urban,monthly_cell_count_rural,monthly_cell_daily_count_rural
0,2015-01-01,01001,-0.777576,47.000000,1,0.075710,0.120266,0.147830,0.113609,33.0,...,10.733158,0.137851,70.00,0.154851,0.0,0.715544,722.0,23.290323,278.0,8.967742
1,2015-01-01,01003,3.268158,77.476331,1,0.094031,0.115768,0.136035,0.113725,40.0,...,10.406875,0.111286,93.75,0.116439,0.0,5.313190,1201.0,38.741935,509.0,16.419355
2,2015-01-01,01005,0.310000,46.699951,1,0.082444,0.091798,0.378494,0.115207,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,96.0,3.096774,33.0,1.064516
3,2015-01-01,01007,-1.620000,47.000000,1,0.067361,0.136884,0.352105,0.079807,1.0,...,10.870000,0.138820,70.00,0.359291,0.0,0.951321,59.0,1.903226,41.0,1.322581
4,2015-01-01,01009,-1.090000,47.000000,1,0.105793,0.171561,0.086501,0.089453,3.0,...,7.555000,0.152661,57.75,0.177665,0.0,0.715544,96.0,3.096774,190.0,6.129032

In [15]:
county_merge_daily_df=county_merge_daily_df.rename(index=str, columns={"count_urban": "count_daily_urban","count_rural":"count_daily_rural"})
county_merge_daily_df['ncount_daily_urban']=county_merge_daily_df['count_daily_urban']- county_merge_daily_df['monthly_cell_daily_count_urban']
county_merge_daily_df['ncount_daily_rural']=county_merge_daily_df['count_daily_rural']- county_merge_daily_df['monthly_cell_daily_count_rural']

In [16]:
county_merge_daily_df= county_merge_daily_df.merge(centroids_df, on='FIPS', how='inner')

In [17]:
county_merge_daily_df["CENTROID_LON"] = county_merge_daily_df.CENTROID.map(lambda p: p.x)
county_merge_daily_df["CENTROID_LAT"] = county_merge_daily_df.CENTROID.map(lambda p: p.y)

In [19]:
ill_count_daily_df=pd.read_csv('data/US_2015_county.csv',encoding='utf-8',index_col=0)
print ill_count_daily_df.shape
print county_merge_daily_df.shape

cols_to_use = county_merge_daily_df.columns.difference(ill_count_daily_df.columns)
cols_to_use = cols_to_use.tolist()+ ['timestamp', 'FIPS']
print cols_to_use
county_merge_daily_df['FIPS']=county_merge_daily_df['FIPS'].astype(int)
ill_emo_count_daily_df = pd.merge(county_merge_daily_df[cols_to_use], ill_count_daily_df, how='inner', on=['timestamp', 'FIPS'],validate="one_to_one")
print ill_emo_count_daily_df.shape

(729430, 32)
(729430, 40)
['ANGER_rural', 'ANGER_urban', 'DISGUST_rural', 'DISGUST_urban', 'FEAR_rural', 'FEAR_urban', 'GUILT_rural', 'GUILT_urban', 'JOY_rural', 'JOY_urban', 'SADNESS_rural', 'SADNESS_urban', 'SHAME_rural', 'SHAME_urban', 'timestamp', 'FIPS']
(729430, 46)

In [26]:
print ill_emo_count_daily_df.columns
print "##################################################"
print "Data Shape - ", ill_emo_count_daily_df.shape
ill_emo_count_daily_df.to_csv('data/US_'+str(YEAR)+'_EMO_county.csv',encoding='utf-8')

Index([                   u'ANGER_rural',                    u'ANGER_urban',
                        u'DISGUST_rural',                  u'DISGUST_urban',
                           u'FEAR_rural',                     u'FEAR_urban',
                          u'GUILT_rural',                    u'GUILT_urban',
                            u'JOY_rural',                      u'JOY_urban',
                        u'SADNESS_rural',                  u'SADNESS_urban',
                          u'SHAME_rural',                    u'SHAME_urban',
                            u'timestamp',                           u'FIPS',
                    u'count_daily_urban',                     u'TMIN_urban',
                             u'CC_urban',                      u'HUM_urban',
                           u'TMAX_urban',                     u'PRCP_urban',
                           u'WIND_urban',                          u'month',
                    u'count_daily_rural',                     u'TMIN_rural',
                             u'CC_rural',                      u'HUM_rural',
                           u'TMAX_rural',                     u'PRCP_rural',
                           u'WIND_rural',       u'monthly_cell_count_urban',
       u'monthly_cell_daily_count_urban',       u'monthly_cell_count_rural',
       u'monthly_cell_daily_count_rural',             u'ncount_daily_urban',
                   u'ncount_daily_rural',                       u'CENTROID',
                         u'CENTROID_LON',                   u'CENTROID_LAT',
                        u'TMAX_HIS_mean',                  u'TMIN_HIS_mean',
                        u'PRCP_HIS_mean',                   u'HUM_HIS_mean',
                        u'WIND_HIS_mean',                    u'CC_HIS_mean'],
      dtype='object')
##################################################
Data Shape -  (729430, 46)